
*,
*::before,
*::after {
  box-sizing: border-box;           
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;        
}

input, button {
  font: inherit;                    
  outline: none;                    
  transition: all .2s ease;         
}

button { cursor: pointer; }
